@font-face {
    font-family: 'Col';
    src: url('../../assets/fonts/Colfax-Medium.woff2') format('woff2'),
        url('../../assets/fonts/Colfax-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Col';
    src: url('../../assets/fonts/Colfax-Bold.woff2') format('woff2'),
        url('../../assets/fonts/Colfax-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Col';
    src: url('../../assets/fonts/Colfax-Regular.woff2') format('woff2'),
        url('../../assets/fonts/Colfax-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ei';
    src: url('../../assets/fonts/Eina01-Bold.woff2') format('woff2'),
        url('../../assets/fonts/Eina01-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

