.header {
	position: relative;
	z-index: 9;
	background: #fff;
	
	@include media-query(min, $desk-start) {
		
	}
}

.header__inner {
	display: flex;
    justify-content: center;
}

.header__logo {
	position: absolute;
	left: 50%;
	display: block;
	width: 106px;
	z-index: 10;
	margin: 40px 0 0 -53px;

	@include media-query(max, $desk-start) {
		width: 80px;
    	margin: 20px 0 0 -40px;
	}
}

.header__menu {
	@include media-query(max, $desk-start) {
		position: fixed;
	    top: 0;
	    right: 0;
	    background: $darker;
	    z-index: 99;
	    width: 100%;
	    height: 100%;
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		transition: $base-transition;

		&.show {
			opacity: 1;
			visibility: visible;
			pointer-events: auto;
		}

	    .header__nav {
			padding: 30px 50px;
			text-align: center;
			display: flex;
			justify-content: center;
			flex-direction: column;
		}

		.header__nav li {
		    display: block;
		    margin-left: 0;
		}

		.header__nav li a {
		    color: #fff;
		}
	}
}

.header__nav {
	padding: 30px 50px;
	position: relative;
    z-index: 100;

	@include media-query(max, $desk-start) {
		height: 100%;
	}
}

.menu-main-container {
	@include media-query(max, $desk-start) {
		height: 100%;
	}
}

.header__nav li {
    margin-left: 0;
    position: relative;

    @include media-query(min, $desk-start) {
		margin-left: 120px;
		display: inline-block;
	}

	&::after {
		content: '';
	    width: 10px;
	    height: 10px;
	    background: #111;
	    display: block;
	    position: absolute;
	    bottom: -35px;
	    left: 50%;
	    margin-left: -5px;
	    transform: rotate(45deg) scale(0);
	}

	&.current-menu-item::after {
		transform: rotate(45deg) scale(1);
	}
}

.header__nav li:first-child {
	margin-left: 0;

	@include media-query(min, $desk-start) {
		margin-left: 50px;
	}
}

.header__nav li:nth-child(2) {
	margin-right: 0;

	@include media-query(min, $desk-start) {
		margin-right: 150px;
	}
}

.header__nav li a {
    color: $darker;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.05em;

    @include media-query(max, $desk-start) {
    	display: block;
		padding: 10px 0;
	}
}

.header__menu-toggle {
	position: fixed;
	top: 30px;
	right: 30px;
	display: none;
	z-index: 100;

	@include media-query(max, $desk-start) {
    	display: block;
    	top: 7px;
    	right: 16px;
	}
}

.header__menu-icon {
	position: relative;
	width: 30px;
	z-index: 10;

	span {
		display: block;
		width: 70%;
		height: 2px;
		margin: 10px 0;
		background: $darker;

		&:nth-child(2) {
			width: 100%;
		}
	}
}

.header__menu-toggle.show .header__menu-icon span {
	background: #fff;
}